<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        
        <label>User name:</label>
        <input type="text" name="sname"><br/>
        <label>Email:</label>
        <input type="email" name="mail"><br/>
        <label>Age</label>
        <input type="number" name="age"><br/>
        <label>password:</label>
        <input type="password" name="password"><br/>
        <input type="submit">
    </form>

    <%if(0<code.length){%>
    <%for(let i=0;i<code.length;i++){%>
        <li>
      <%=code[i]%>
    </li> 
<%}%>
    <%}else{%>
    <h4>No data</h4>
   <%}%>

</ul>
</body>
</html>